<p>Hi <strong>{FIRSTNAME}</strong>,</p>
<p>Thanks for joining ReferMe Community!</p>
<p>Please find below your username and password.</p>
<table style="width: 386px; border-color: RED;" border="5px">
    <tbody>
        <tr>
            <td style="width: 100px;">USERNAME</td>
            <td style="width: 296px;"><strong>{USERNAME}</strong></td>
        </tr>
        <tr>
            <td style="width: 100px;">PASSWORD</td>
            <td style="width: 296px;"><strong>{PASSWORD}</strong></td>
        </tr>
    </tbody>
</table>
<p>Visit group at&nbsp;<a href="http://refermecommunity.in/">http://refermecommunity.in/</a>&nbsp;.</p>
<p>Thanks.</p>